.output {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 35%;
}

.store {
  width: 80%;
  background-color: #393e46;
  font-size: 1.5rem;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
