.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 75px 0 20px 0;
}

input, button {
  height: 40px;
  border: none;
  outline: none;
  margin-bottom: 30px;
  border-radius: 20px;
  padding: 10px;
}

input {
  width: 500px;
  color: #393e46;
  background-color: #eeeeee;
}

button {
  width: 100px;
  background-color: #00adb5;
  color: #eeeeee;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}

button:hover {
  background-color: #148b92;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.is-invalid {
  border-radius: 2px solid red;
}
